body {
 /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Udawattakele_Forest_scene_5.jpg/800px-Udawattakele_Forest_scene_5.jpg");
  width:1280px;
  height: 100%
  margin: 0 auto;
  text-align: center;
  background-repeat:no-repeat;
  background-size: cover;*/
 /* overflow: hidden;*/
}

#truck {
  content: url("../assets/Truck1.png");
  position:absolute;
  width:100px;
  height:150px;
  top: 450px;
  left: 600px;
}

#strawberry {
  content: url("../assets/strawberry.png");
  position:absolute;
  top: 50px;
  width:50px;
  height:50px;
  left: 300px;
}

#berry {
  content: url("../assets/berry.png");
  position:absolute;
  top: 50px;
  width:50px;
  height:50px;
  left: 450px;
}


input[type=button] {
    background-color: rgb(132,208,1);
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px 90px;
}


#pear {
  content: url("../assets/pear.png");
  position:absolute;
  top: 50px;
  width:50px;
  height:50px;
  left: 750px;
}

#apple {
content: url("../assets/apple.png");
  position:absolute;
  top: 50px;
  left: 900px;
  width:50px;
  height:50px;

}
.gameBoard {
  display: inline-block;
 /* margin: 0 auto;*/
  color: blue;
  border-color: black;
  border-style: solid;
  text-align: center;
  height: 150px;
  width:  200px;
  margin: 10px 0px 0px 40px;
  font-family: "Times New Roman", Georgia, Serif;
}

